img{
    width:300px;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);}
h1{
    color:red;
}
p{
    color:yellow;
}
.artist{
    text-decoration:overline;
}
   
.movie{
    text-decoration:underline;
}
.person{
    text-decoration:underline overline;
}
.teacher{
    text-decoration:underline;
}
